@model Pizza
<h1>Here is the Pizza you Ordered!</h1>

<h2>Name:</h2>
<h3>@ViewBag.Pizza.Name</h3>
<h2>Size:</h2>
<h3>@ViewBag.Pizza.Size</h3>
<h2>Toppings:</h2>
<h3>@ViewBag.Pizza.Toppings</h3>
<h2>Price:</h2>
<h3>@ViewBag.Pizza.Price</h3>
<h2>Ordered At:</h2>
<h3>@ViewBag.Pizza.OrderedAt</h3>

